<div class="container-fluid">
    <!-- Search Input and Sorting button -->
    <div class="form-group d-flex justify-content-end">
        <input [(ngModel)]="searchTerm" type="text" class="form-control searchInput" placeholder="Search by State" />
        <button (click)="sortButton()" type="button" class="btn btn-primary">
                <i [ngClass]="sortDirection ? 'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"class="fa-lg"></i>Sort</button>
    </div>

    <!-- Deck of State Cards (ensures same width and height) -->
    <div class="card-deck">
        <app-state-card 
            [stateObject]="x" 
            class="col-lg-4 col-md-6 col-sm-12 col-xs-12" 
            *ngFor="let x of filteredStates | paginate: {itemsPerPage: 10, currentPage: p}">
        </app-state-card>
    </div>

    <!-- Pagination for Card deck-->
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>